@charset "utf-8";
@media screen and (max-width:767px) {
    label[for=toggle], .cart_btn {
        display:block;
    }

    /* header */
    header {
        position:relative;
        height:60px;
        background:#414141;
    }

    .header_top h1 {
        width:130px;
        margin:0 auto;
    }

    .header_top h1 img {
        width:100%;
        padding-top:4px;
    }

    /* 전체메뉴, 카트버튼 위치 */

    .total_btn,
    .cart_btn {
        position:absolute;
        top:8px;
        padding:10px;
    }

    .total_btn {
        left:5px;
    }

    .cart_btn {
        right:5px;
    }

    .fa-bars,
    .fa-shopping-cart {
        font-size:20px;
        color:#fff;
    }

    /* 네비게이션 잠시 숨기기 */

    .header_bottom {
        position:fixed;
        z-index:1000;
        top:0;
        left:-100%;

        width:100%;
        height:100%;

        background:#000;

        transition:0.5s;
    }

    .header_bottom .c_btn {
        position:fixed;
        right:5%;
        right:100%;

        top:2%;
        color:#fff;
        font-size:2.2rem;
        padding:6px;

        transition:0.5s;

    }

    /* 검색폼 */
    fieldset {
        position:fixed;
        width:100%;
        left:0;
        left:-100%;

        top:60px;
        z-index:1001;
        text-align:center;
        transition:0.5s;

    }

    #search {
        width:230px;
    }

    label.fa-search {
        transform:translate(-36px, 4px);
    }

    .gnb {
        position:fixed;
        left:0;
        left:-100%;

        top:100px;

        width:100%;
        transition:0.5s;

    }

    .gnb ul {
        padding:0 10px;
    }

    .gnb ul li {
        border-bottom:1px solid #ccc;
        text-indent:10px;
    }

    .gnb ul li a {
        display:block;
        color:#fff;
        line-height:220%;
        font-size:1rem;
    }

    .lnb {
        position:fixed;
        top:430px;
        left:0;
        left:-100%;

        z-index:1001;
        width:100%;

        transition:0.5s;

    }
    .lnb ul {
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
    }
    .lnb ul li {
        display:inline-block;
        width:44%;
        margin:0 2px 4px;
        background:#fff;

        text-align:center;
    }

    .lnb ul li a {
        line-height:40px;
    }


    /* 전체메뉴 클릭시 닫기, 검색, lnb, header_bottom 보이게 하기 */

    #toggle:checked + header .header_bottom .c_btn {
        right:5%;
    }

    #toggle:checked + header .header_top fieldset,
    #toggle:checked + header .header_top .lnb,
    #toggle:checked + header .header_bottom,    #toggle:checked + header .header_bottom .gnb {
        left:0;
    }







    /* main */

    main > .slide .swiper-slide {
        overflow:hidden;
        height:86vh;
    }

    main > .slide img {
        width:100%;
        height:100%;
        object-fit: cover;
        /* 이미지 크기 비율을 높이 기준으로 맞춤(가로가 짤림) */
    }

    /* 사료무료체험 */

    .free_ex {
        padding:50px 0;
        text-align:center;
        /* height:730px; */
        height:90vh;
        box-sizing:border-box;
        background:#e3292a;
        color:#fff;
    }

    .free_ex article > img {
        width:70%;
        transform:translateY(290px);
    }

    .free_ex_right {
        transform:translateY(-340px);
    }

    .free_ex_right h2 {
        /* font-size:34px; */
        font-size:2rem;
        font-weight:200;
        padding:30px 0 16px;
    }

    .free_ex_right img {
        width:60px;
        padding-bottom:10px;
    }

    .free_ex_right p {
        padding:20px 0 30px;
        line-height:30px;
        /* font-size:18px; */
        font-size:1.125rem;
    }

    /* button */
    .button {
        font-size:16px;
        background:#fff;
        padding:6px 30px;
        border:1px solid #ccc;
        transition:0.5s;
    }

    /* 상품목록 */

    /* shop */

    .shop {
        width:100%;
        margin:0 auto;
        padding-bottom:60px;
    }

    .shop h2 {
        text-align:center;
        padding:60px 0 60px;
        font-size:2rem;
        font-weight:200;
    }

    .shop h2 img {
        width:40px;
        padding-right:5px;
        transform:translateY(8px);
    }

    .p_center {
        text-align:center;
        margin-bottom:60px;
    }

    /* 상품목록 */

    .product {
        display:flex;
        justify-content:space-around;
        width:160%;
    }

    .product li {
        text-align:center;
        width:80%;
    }
    
    .product li img {
        /* float:left; */
        width:100%;
        /* padding:0 50px; */
    }

    .product li .info {
        /* float:right; */
        width:100%;
        padding-top:20px;
        font-size:18px;
    }

    .info > h3 {
        font-weight:500;
        font-size:18px;
    }
    .info > p {
        line-height:40px;
    }

    .info > .price {
        display:inline-block;
        padding-top:20px;
        font-weight:bold;
        font-size:18px;
        color:#e3292a;
    }

    .info p:last-of-type {
        padding-top:30px;
    }






    /* 펫스토리 */

    .story {
        background:#f0f0f0;
        /* height:620px; */
        clear:both;
        padding-bottom:50px;
    }

    .story article {
        text-align:center;
    }

    .story article h2 {
        font-size:36px;
        color:#333;
        font-weight:200;
        padding:40px 0 50px;
    }

    .story_left {
        /* padding-left:100px; */
        text-align:center;
    }

    .story_left h2 img {
        width:40px;
        padding-right:5px;
    }

    .story_left p {
        font-size:18px;
        line-height:30px;
        padding-bottom:40px;
    }

    .story_left p + a {
        display:inline-block;
        margin-bottom:50px;
    }


    .s_img {
        width:320px;
    }

    /* 인스타그램 */
    .instar {
        padding:50px 0;
    }

    .instar h2 {
        text-align:center;
        font-size:1.85rem;
        color:#333;
        font-weight:300;
        padding:60px 0 40px;
        text-transform:uppercase;
    }

    .id_name {
        display:block;
        text-transform: lowercase;
        font-size:1rem;
    }

    h2 img {
        width:40px;
        transform:translateY(8px);
    }

    .gallery {
        display:grid;
        grid-template-columns:repeat(2, calc(50% - 5px));
        /* grid-template-rows:repeat(3, 20%); */
        grid-template-rows:repeat(3, 220px);
        gap:10px;
        width:100%;
        padding:10px;
        box-sizing:border-box;
        
    }

    .gallery li img {
        width:100%;
        height:100%;
        object-fit:cover;
    }

    /* li(7) ~ li(12) 지우기 */

    /* .gallery li:nth-child(7),
    .gallery li:nth-child(8),
    .gallery li:nth-child(9),
    .gallery li:nth-child(10),
    .gallery li:nth-child(11),
    .gallery li:nth-child(12) {
        display:none;
    } */

    .gallery li:nth-child(6) ~ li {
        display:none;
    }



    /* footer */

    footer {
        height:auto;
    }

    .f_nav {
        flex-wrap:wrap;
        align-content:stretch;
        justify-content:center;

        width:100%;
    }

    .f_nav > ul {
        order:2;
        width:100%;
    }

    .f_nav > dl {
        order:1;
        width:100%;
    }

    .f_nav dl dd span {
        padding-left:10px;
    }

    .f_lnb li a {
        color:#fff;
        font-size:0.875rem;
    }

    .footer_info {
        width:100%;
        padding:50px 0 15px;
    }

    .footer_info dl {
        flex-wrap:wrap-reverse;
        /* 순서를 뒤에서부터 */

    }

    .footer_info dl dd {
        font-size:0.8rem;
        line-height:240%;
    }

    .number {
        font-size:1.6rem;
    }

    .footer_info dl dd:nth-of-type(1),
    .footer_info dl dd:nth-of-type(2) {
        width:50%;
    }

    .footer_info dl dd:nth-of-type(2) ~ dd {
        width:100%;
        text-align:center;
    }

    address {
        width:100%;
        display:block;
        
    }

    address .a_info,
    address .a_pay {
        width:100%;
        padding:10px 0;

    }






}


@media screen and (max-width:500px){
    .free_ex article > img {
        transform:translateY(60%);
    }

    .free_ex_right {
        transform:translateY(-200%);
    }   
}

@media screen and (min-width:501px) and (max-width:767px){
    .free_ex article > img {
        width:70%;
        transform:translateY(78%);
    }

    .free_ex_right {
        transform:translateY(-400px);
        color:#fff;
    }   
}